/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Nerko One';
  src: url('/assets/fonts/NerkoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-bg: #35273b;        /* dunkles Lila im Hintergrund */
  --color-surface: #faf5fe;   /* helle Karten */
  --color-primary: #ffb770;   /* Orange für Buttons */
  --color-accent: #fee9d4;    /* helleres Orange */
  --color-text-light: #FFFFFF;
  --color-text-dark: #2D1B3D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

h1 {
  font-family: 'Nerko One', cursive;
  font-size: 100px;
}

h2 {
  font-family: 'Nerko One', cursive;
  font-size: 72px;
}

h3 {
  font-family: 'Nerko One', cursive;
  font-size: 56px;
}

@media (max-width: 1080px) {
  h1 { font-size: 84px; }
  h2 { font-size: 56px; }
  h3 { font-size: 40px; }
}

body {
  padding: 24px;
  background-color: var(--color-bg);
  color: var(--color-text-light);
  font-family: 'Mulish', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

body.page-light {
  background-color: #fefcff;
}
